h2{background-color: greenyellow;
    width:500px; height:30px; padding:15px;
    font-size: large;
text-align: center;}

#todolist{width: 500px; height: 60px;

}

.a1{width:500px; height:30px; padding:15px;
    text-align: center;
}





/* .uchikeshi{

        text-decoration: line-through 
} */